<h2 mat-dialog-title>Product details</h2>
<mat-dialog-content class="mat-typography">
  <mat-card>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h1><b> </b></h1>
          <br/>
          <br/>
          <img [src]="product.imageLocation.url" [width]="250" [height]="250"/>

          <br/>
          <br/>
          <div class="col">
            <p style="font-size: 20px; color: red" *ngIf="product.stock.quantity === 0">Currently not in
              stock.</p>
          </div>
        </div>
        <div class="col-8">
          <h1 style="word-break: break-word"><b>{{product.information.title}}</b></h1>

          <hr/>

          <ul class="list-group list-group-horizontal" style="font-size: 17px">
            <li *ngFor="let category of product.categories" class="list-group-item">
              <a [href]="'/?categoryId=' + category.categoryId.id">{{ category.categoryName.name }}</a>
            </li>
          </ul>

          <br/>

          <h2>{{product.information.shortDescription}}</h2>

          <textarea rows="5" style="resize: none; width: 100%; border: none; background: white"
                    disabled="disabled">{{product.information.longDescription}}</textarea>

          <br/>
          <br/>

          <div class="container">
            <div class="row">
              <div class="col" style="font-size: 20px">
                <b>{{ (quantity * product.price.amount) | number:'1.2-2'}} {{product.price.currency}}</b>
              </div>
              <div class="col" style="font-size: 17px">
              <span *ngIf="product.ratingStatistics.averageRating !== 0">
                {{product.ratingStatistics.averageRating | number:'1.2-2' }} <span class="starr">&#9733;</span>
              </span>
              </div>
            </div>
          </div>

          <hr/>

          <div class="container">
            <div class="row">
              <div class="col" style="font-size: 17px">Your rating:
                <ngb-rating [(rate)]="product.currentUserRating" (click)="ratingClicked()">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3" [class.good]="index > 6">&#9733;</span>
                  </ng-template>
                </ngb-rating>
              </div>
              <div class="col" style="font-size: 17px">
                Total ratings: {{product.ratingStatistics.totalRatings }}<img src="../../assets/images/person-icon.png"
                                                                              alt=""
                                                                              [width]="25" [height]="25">
              </div>
            </div>
            <br/>
            <br/>
            <div class="container">
              <div class="row">
                <!--                <div class="col">-->
                <!--                  <p style="font-size: 17px; color: red" *ngIf="product.stock.quantity === 0">Currently not in-->
                <!--                    stock.</p>-->
                <!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-card>

</mat-dialog-content>


<mat-dialog-actions align="end">

  <button mat-button [mat-dialog-close]="false">Close</button>

  <input class="form-control" type="number" value="1"
         id="example-number-input" style="width: 100px; margin: 10px;"
         [min]="1" [max]="product.stock.quantity"
         [(ngModel)]="quantity">

  <button mat-button mat-raised-button color="accent"
          [disabled]="product.stock.quantity === 0" (click)="addToCartClicked()">Add to Cart</button>
</mat-dialog-actions>



