.star {
  font-size: 1.5rem;
  color: lightgrey;
}

.filled {
  color: gold;
}

.bad {
  color: lightgrey;
}

.filled.bad {
  color: gold;
}

.filled.good {
  color: gold;
}

.starr {
  font-size: 1.7rem;
  color: gold;
}

mat-nav-list {
  padding: 0;

}

mat-list-item {
  display: inline-block;
  height: auto;
  width: auto;
}
