.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.clicked {
  background-color: darkslateblue;
  /*color: dodgerblue !important;*/
}

.mat-menu-item:hover {
  background-color: darkslateblue;
}
