<h1 mat-dialog-title>Restock Product</h1>
<div mat-dialog-content>
  <form [formGroup]="stockForm">
    <div class="form-group">
      <label for="stock">New stock:</label>
      <input id="stock" type="number" formControlName="stock" class="form-control" placeholder="Current stock"
             [ngClass]="{ 'is-invalid': submitted && this.stockForm.controls.stock.errors }"/>
      <div *ngIf="submitted && this.stockForm.controls.stock.errors" class="invalid-feedback">
        <div *ngIf="this.stockForm.controls.stock.errors.required">Stock is required!</div>
        <div *ngIf="this.stockForm.controls.stock.errors.min">Stock cannot be less than 0!</div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button style="display: inline-block" mat-button color="primary" (click)="onSubmit()">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Change
  </button>
  <button mat-button color="warn" [mat-dialog-close]="false">Cancel</button>
</div>
